<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">


    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>Controler</servlet-name>
        <servlet-class>webModul.servlets.Controler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controler</servlet-name>
        <url-pattern>/controler</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>ControlerAuthorizable</servlet-name>
        <servlet-class>webModul.servlets.Controler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlerAuthorizable</servlet-name>
        <url-pattern>/controler?action=authorization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ControlerSentMoney</servlet-name>
        <servlet-class>webModul.servlets.Controler</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlerSentMoney</servlet-name>
        <url-pattern>/controler?action=sent_money</url-pattern>
    </servlet-mapping>





    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>webModul.filters.AuthorizationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <servlet-name>ControlerAuthorizable</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SentMoneyFilter</filter-name>
        <filter-class>webModul.filters.SentMoneyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SentMoneyFilter</filter-name>
        <servlet-name>ControlerSentMoney</servlet-name>
    </filter-mapping>




</web-app>